---
import { formatBlogPosts, slugify } from "../js/utils";

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.toLowerCase())
  .flat();

const processedCategories = allCategories.reduce((acc, cat) => {
  const value = acc[cat] || 0;
  return {
    ...acc,
    [cat]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
---

<ul class="categories">
  {
    Object.entries(processedCategories).map(([key, val]) => (
      <li>
        <a href={`/category/${slugify(key)}/`} class="badge">
          {key} {showCount && `(${val})`}
        </a>
      </li>
    ))
  }
</ul>
